{% extends "_layout.twig" %}

{% block content %}
    <div class="tabs">
        {% for tab_key, tab in page.tabs %}
            <a class="tablink" href="#{{ tab_key }}">
                {{ tab.name }}
            </a>
        {% endfor %}
    </div>
    <div class="card">
        <div class="card-body">
        {% for section in page.sections %}
            <h1>{{ section.title }}</h1>
            <div class="box-contents">
                {% for key, item in section.contents %}
                    {% if key == 'buttons' %}
                        <div class="button-group">
                            {% for button in item %}
                                <button class="button button-{{ button.color }}">
                                    {{ button.text }}
                                </button>
                            {% endfor %}
                        </div>
                    {% elseif key == 'list' %}
                        <ul>
                            {% for k, v in item %}
                                <li>{{ k }}: {{ v }}</li>
                            {% endfor %}
                        </ul>
                    {% elseif item.text is defined %}
                        {% if item.raw is defined and item.raw %}
                            {{ item.text|raw }}
                        {% else %}
                            <p>{{ item.text }}</p>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
            {% if not loop.last %}<hr>{% endif %}
        {% endfor %}
        </div>
    </div>
{% endblock %}