{% extends "_layout.twig" %}

{% block script %}
    <script>
        user_id = '{{ data.id }}';
    </script>
{% endblock %}
    
{% block customcss %}
    {% if banner_picture %}
    .channel-header-background {
        background-image: url('{{ banner_picture }}');
    }
    {% endif %}
{% endblock %}

{% block content %}
    <div class="channel-header-background">
        <img class="channel-header-profile-picture profile-picture" 
             src="{{ profile_picture }}"  
             alt="{{ data.username }}">
    </div>
    <div class="card channel-header">
        <div class="card-has-padding">
            <div class="channel-header-primary">
                {% if data.displayname|lower == data.username|lower %}
                    <div class="channel-header-name">
                        <h1>{{ data.displayname }}</h1>
                    </div>
                {% else %}
                    <div class="channel-header-name">
                        <h1>{{ data.displayname }}</h1>
                        <div class="channel-header-handle">@{{ data.username }}</div>
                    </div>
                {% endif %}
            </div>
            <div class="channel-header-secondary">
                <a class="tablink{% if selected_tab == 'home' %} active{% endif %}" 
                    href="/user/{{ data.username }}">Home</a>
                <a class="tablink{% if selected_tab == 'uploads' %} active{% endif %}" 
                    href="/user/{{ data.username }}/uploads">Uploads</a>
                <a class="tablink{% if selected_tab == 'journals' %} active{% endif %}" 
                    href="/user/{{ data.username }}/journals">Journals</a>
                <a class="tablink{% if selected_tab == 'comments' %} active{% endif %}" 
                    href="/user/{{ data.username }}/comments">Discussion</a>
                <a class="tablink{% if selected_tab == 'about' %} active{% endif %}" 
                    href="/user/{{ data.username }}/about">About</a>
            </div>
        </div>
    </div>
    {% if not show_related_channels %}
        {% block profile_content %}
        {% endblock %}
    {% else %}
        <div class="profile-page-grid">
            <div class="content">
                {{ block('profile_content') }}
            </div>
            <div class="profile-channels-list">
                <div class="card">
                    <div class="card-has-padding">
                        Custom channels
                    </div>
                </div>
                <div class="card">
                    <div class="card-has-padding">
                        Related channels
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}