{% if is_chaziz_sb %}
    {% if is_fulptube %}
        {% if current_theme == "dark" %}
            {% set logo = '/assets/sb_branding/fulp/vidshr-dark.png' %}
        {% else %}
            {% set logo = '/assets/sb_branding/fulp/vidshr.png' %}
        {% endif %}
    {% elseif current_theme == 'dark' %}
        {% set logo = '/assets/sb_branding/finalium/logo-wordmark-dark.png' %}
    {% elseif current_theme == 'beta' %}
        {% set logo = '/assets/sb_branding/finalium/cheeserox-logo-wordmark.png' %}
    {% elseif current_theme == 'qobo' %}
        {% set logo = '/assets/sb_branding/finalium/qobo-logo-wordmark.png' %}
    {% else %}
        {% set logo = '/assets/sb_branding/finalium/logo-wordmark.png' %}
    {% endif %}
{% else %}
    {% set logo = website_branding.assets_location ~ '/logo-wordmark.png' %}
{% endif %}

<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %} - {{ website_branding.name }}</title>
    {% block head %}{% endblock %}
    <link rel="manifest" href="{{ website_branding.assets_location }}/icons/site.webmanifest">
    <link rel="shortcut icon" href="{{ website_branding.assets_location }}/icons/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ website_branding.assets_location }}/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ website_branding.assets_location }}/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ website_branding.assets_location }}/icons/favicon-16x16.png">
    <meta name="apple-mobile-web-app-title" content="{{ website_branding.name }}">
    <meta name="application-name" content="{{ website_branding.name }}">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="/assets/css/finalium_{{ current_theme }}.css?r={{ get_css_file_date() }}" type="text/css">
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
            integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/assets/common_finalium.js?r={{ get_css_file_date() }}"></script>
    {% block script %}{% endblock %}
    <script>
        subscribe_string = 'Follow';
        unsubscribe_string = 'Unfollow';
    </script>
    <style>
        {% block customcss %}{% endblock %}
    </style>
</head>
<body>
{% if show_warning_banner %}
    <div class="header_message header-danger full-screen">
        Due to unknown circumstances with the provider of the SquareBracket.pw and FulpTube.rocks domains, please use our
        site through the SquareBracket.me domain.
    </div>
{% endif %}
{% if current_theme != 'qobo' %}
<div id="guide">
    <h3>Guide</h3>
    {% if is_user_logged_in %}
        {% for link in sidebar_following_users() %}
            <ul>
                <li class="guide-channel">
                    <a href="/user/{{ link.username }}" class="guide-item">
                        <img class="thumb" src="{{ profile_picture(link.username) }}">
                        {{ link.username }}
                    </a>
                </li>
            </ul>
        {% endfor %}
    {% endif %}
</div>
{% endif %}
{% if current_theme == 'beta' %}
    {% include "components/beta/_header.twig" %}
{% else %}
    {% include "components/_header.twig" %}
{% endif %}
{% block precontent %}{% endblock %}
<div class="container page-container">
    {% if session.notif_message %}
        <div class="header_message header-{{ session.notif_color }}">
        {{ session.notif_message }}
        </div>
        {{ remove_notification() }}
    {% endif %}
    {% if user_ban_data %}
        <div class="header_message header-danger">You have been banned from {{ website_branding.name }}.</div>
    {% endif %}
    {% block content %}{% endblock %}
</div>
{% include "components/_footer.twig" %}
</body>
</html>