{% extends "_layout.twig" %}

{% block head %}
    <meta name="title" content="{{ data.displayname }} - {{ website_branding.name }}">
    <meta name="description"
          content="{{ data.about|length > 250 ? data.about|slice(0, 250) ~ '...' : data.about }}">
    <meta name="theme-color" content="{{ data.userlink_color }}">
    <meta property="og:site_name" content="{{ website_branding.name }}"/>
    <meta property="og:title" content="{{ data.displayname }} - {{ website_branding.name }}">
    <meta property="og:description"
          content="{{ data.about|length > 250 ? data.about|slice(0, 250) ~ '...' : data.about }}">
    <meta property="og:image" content="{{ profile_picture(data.id) }}">
    <meta property="og:url" content="{{ page_url }}">
    <script>
        user_id = '{{ data.id }}';
    </script>
{% endblock %}
    
{% block customcss %}
    .channel-header-background {
        background-image: url('{{ profile_banner(data.id) }}');
    }
{% endblock %}

{% set show_related_channels = true %}

{% block content %}
    <div class="channel-header-background">
        <img class="channel-header-profile-picture img-pfp" 
             src="{{ profile_picture(data.id) }}"  
             alt="{{ data.username }}">
    </div>
    <div class="card channel-header">
        <div class="card-body">
            <div class="channel-header-primary">
                {% if data.displayname|lower == data.username|lower %}
                    <div class="channel-header-name">
                        <h1>{{ data.displayname }}</h1>
                    </div>
                {% else %}
                    <div class="channel-header-name">
                        <h1>{{ data.displayname }}</h1>
                        <div class="channel-header-handle">@{{ data.username }}</div>
                    </div>
                {% endif %}
            </div>
            <div class="channel-header-secondary">
                <a class="tablink{% if selected_tab == 'home' %} active{% endif %}" 
                    href="/user/{{ data.username }}">Home</a>
                <a class="tablink{% if selected_tab == 'uploads' %} active{% endif %}" 
                    href="/user/{{ data.username }}/uploads">Uploads</a>
                <a class="tablink{% if selected_tab == 'journals' %} active{% endif %}" 
                    href="/user/{{ data.username }}/journals">Journals</a>
                <a class="tablink{% if selected_tab == 'comments' %} active{% endif %}" 
                    href="/user/{{ data.username }}/comments">Discussion</a>
                <a class="tablink{% if selected_tab == 'about' %} active{% endif %}" 
                    href="/user/{{ data.username }}/about">About</a>
            </div>
        </div>
    </div>
    {% if not show_related_channels %}
        {% block profile_content %}
        {% endblock %}
    {% else %}
        <div class="profile-page-grid">
            <div class="content">
                {{ block('profile_content') }}
            </div>
            <div class="profile-channels-list">
                <div class="card">
                    <div class="card-body">
                        Featured channels
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        Custom channels
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}