{% if is_chaziz_sb and not is_fulptube %}
    {% if current_theme == 'dark' %}
        {% set logo = '/assets/sb_branding/finalium/logo-wordmark-dark.png' %}
    {% else %}
        {% set logo = '/assets/sb_branding/finalium/logo-wordmark.png' %}
    {% endif %}
{% else %}
    {% set logo_suffix = current_theme == "dark" ? '-dark' : '' %}
    {% set logo_extension = website_branding.is_vector ? '.svg' : '.png' %}
    {% set logo_type = website_branding.use_wordmark ? 'logo-wordmark' : 'logo' %}

    {% set logo = website_branding.assets_location ~ '/' ~ logo_type ~ logo_suffix ~ logo_extension %}
{% endif %}

<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %} - {{ website_branding.name }}</title>
    {% block head %}{% endblock %}
    <link rel="manifest" href="{{ website_branding.assets_location }}/icons/site.webmanifest">
    <link rel="shortcut icon" href="{{ website_branding.assets_location }}/icons/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ website_branding.assets_location }}/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ website_branding.assets_location }}/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ website_branding.assets_location }}/icons/favicon-16x16.png">
    <meta name="apple-mobile-web-app-title" content="{{ website_branding.name }}">
    <meta name="application-name" content="{{ website_branding.name }}">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="/assets/css/finalium_{{ current_theme }}.css?r={{ get_css_file_date() }}" type="text/css">
    <script src="/assets/common_finalium.js?r={{ get_css_file_date() }}"></script>
    {% block script %}{% endblock %}
    <script>
        subscribe_string = {{ localize('follow') }};
        unsubscribe_string = {{ localize('unfollow') }};
        opensb_version = '{{ opensb_version.name }} {{ opensb_version.string }}';
    </script>
    <script src="/assets/common_shared.js?r={{ get_css_file_date() }}"></script>
    <style>
        {% block customcss %}{% endblock %}
    </style>
</head>
<body>
{% if show_warning_banner %}
    <div class="banner {% if current_theme == 'hitchhiker' %}banner-primary{% else %}banner-danger{% endif %} full-screen">
        {% if current_theme == 'hitchhiker' %}
            <div class="banner-icon">
                {{ icon("asterisk", 16) }}
            </div>
            <div>
                {{ warning_banner_text | raw }}
            </div>
        {% else %}
            {{ warning_banner_text | raw }}
        {% endif %}
    </div>
{% endif %}
<div id="guide" class="{% if show_warning_banner %}with-fullscreen-banner{% endif %}">
    <ul>
        {% for link in header_main_links() %}
            <li class="guide-channel">
                <a href="{{ link.url }}" class="guide-item">{{ link.name }}</a>
            </li>
        {% endfor %}
        <hr>
        {% for link in sidebar_following_users() %}
            <li class="guide-channel">
                <a href="/user/{{ link.username }}" class="guide-item">
                    <img class="thumb img-pfp" src="{{ profile_picture(link.username) }}">
                    {{ link.username }}
                </a>
            </li>
        {% endfor %}
        {% if not is_user_logged_in %}
            <hr>
            <p>Login now to see your channels and recommendations!</p>
            <a href="/login" class="button button-primary">Login</a>
        {% endif %}
    </ul>
</div>
{% include "components/_header.twig" %}
{% block precontent %}{% endblock %}
<div class="container page-container {{ page_name }}">
    {% if session.notif_message %}
        <div class="banner banner-{{ session.notif_color }}">
        {{ session.notif_message }}
        </div>
        {{ remove_notification() }}
    {% endif %}
    {% if user_ban_data %}
        <div class="banner banner-danger">You have been banned from {{ website_branding.name }}.</div>
    {% endif %}
    {% block content %}{% endblock %}
</div>
{% include "components/_footer.twig" %}
</body>
</html>