{% if is_chaziz_sb and not is_fulptube %}
    {% if current_theme == 'dark' %}
        {% set logo = '/assets/sb_branding/finalium/logo-wordmark-dark.png' %}
    {% else %}
        {% set logo = '/assets/sb_branding/finalium/logo-wordmark.png' %}
    {% endif %}
{% else %}
    {% set logo_suffix = current_theme == "dark" ? '-dark' : '' %}
    {% set logo_extension = website_branding.is_vector ? '.svg' : '.png' %}
    {% set logo_type = website_branding.use_wordmark ? 'logo-wordmark' : 'logo' %}

    {% set logo = website_branding.assets_location ~ '/' ~ logo_type ~ logo_suffix ~ logo_extension %}
{% endif %}

<!DOCTYPE html>
<html lang="en-US" class="{% if pin_guide %}show-guide guide-pinned{% endif %} {% if current_theme == "hitchhiker" %}hitchhiker{% endif %}">
<head>
    {{ include('_html_head.twig') }}
    
    <link name="skin-css" rel="stylesheet" href="/assets/css/finalium_{{ current_theme }}.css?r={{ get_css_file_date() }}" type="text/css">
    {% block script %}{% endblock %}
    <script>
        subscribe_string = '{{ localize('follow') }}';
        unsubscribe_string = '{{ localize('unfollow') }}';
        opensb_version = '{{ opensb_version.name }} {{ opensb_version.string }}';
    </script>
    <script name="common" src="/assets/common.js?r={{ get_css_file_date() }}"></script>
    {% if options.finalium_enable_spf %}
    <script name="spf" src="/assets/skin/finalium/spf.js?r={{ get_css_file_date() }}"></script>
    <script>spf.init();</script>
    {% endif %}
    <script name="base" src="/assets/skin/finalium/base.js?r={{ get_css_file_date() }}"></script>

    {# on spf, we have to preload plyr so that we dont run into issues later #}
    {% if options.finalium_enable_spf %}
    {# nah laughing my fucking ass off this refuses to work with spf ive tried everything #}
    {#<link name="plyr-css" href="https://unpkg.com/plyr@3.8.4/dist/plyr.css" rel="stylesheet">
    <script name="plyr-js" src="https://unpkg.com/plyr@3.8.4/dist/plyr.min.js"></script>#}
    {% endif %}

    <style>
        {% block customcss %}{% endblock %}
    </style>

    {% block head %}
    {% endblock %}
</head>
<body id="body">

{% if is_debug %}
    {% include('components/debug_dialog.twig') %}
    <a id="debug-button">{{ localize('debug') }} @{{ opensb_version.hash }}</a>
{% endif %}
{% if show_warning_banner %}
    <div class="banner banner-info full-screen">
        <div class="banner-icon">
            {{ icon("asterisk", 16) }}
        </div>
        <div>
            {{ warning_banner_text | raw }}
        </div>
    </div>
{% endif %}
{% include "components/_guide.twig" %}
{% include "components/_header.twig" %}

<div id="precontent">
{% block precontent %}{% endblock %}
</div>

<div class="container {{ page_name }}" id="page">
    <div id="content">
        {% if session.notif_message %}
            <div class="banner banner-{{ session.notif_color }}">
            {{ session.notif_message }}
            </div>
            {{ remove_notification() }}
        {% endif %}
        {% block content %}{% endblock %}
    </div>
</div>

{% include "components/_footer.twig" %}

</body>
</html>