{% if is_chaziz_sb and not is_fulptube %}
    {% if current_theme == 'dark' %}
        {% set logo = '/assets/sb_branding/finalium/logo-wordmark-dark.png' %}
    {% else %}
        {% set logo = '/assets/sb_branding/finalium/logo-wordmark.png' %}
    {% endif %}
{% else %}
    {% set logo_suffix = current_theme == "dark" ? '-dark' : '' %}
    {% set logo_extension = website_branding.is_vector ? '.svg' : '.png' %}
    {% set logo_type = website_branding.use_wordmark ? 'logo-wordmark' : 'logo' %}

    {% set logo = website_branding.assets_location ~ '/' ~ logo_type ~ logo_suffix ~ logo_extension %}
{% endif %}

<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %} - {{ website_branding.name }}</title>
    {% block head %}{% endblock %}
    <link rel="manifest" href="{{ website_branding.assets_location }}/icons/site.webmanifest">
    <link rel="shortcut icon" href="{{ website_branding.assets_location }}/icons/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ website_branding.assets_location }}/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ website_branding.assets_location }}/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ website_branding.assets_location }}/icons/favicon-16x16.png">
    <meta name="apple-mobile-web-app-title" content="{{ website_branding.name }}">
    <meta name="application-name" content="{{ website_branding.name }}">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="/assets/css/finalium_{{ current_theme }}.css?r={{ get_css_file_date() }}" type="text/css">
    <script src="/assets/common_finalium.js?r={{ get_css_file_date() }}"></script>
    <script>
        subscribe_string = 'Follow';
        unsubscribe_string = 'Unfollow';
        opensb_version = '{{ opensb_version }}';
    </script>
    <script src="/assets/common_shared.js?r={{ get_css_file_date() }}"></script>
    <script src="https://js.hcaptcha.com/1/api.js" async defer></script>
</head>
<body class="login-body">
{% block precontent %}{% endblock %}
<div class="container page-container login-container">
    {% if session.notif_message %}
        <div class="banner banner-danger" role="alert">{{ session.notif_message }}</div>
        <br>
        {{ remove_notification() }}
    {% endif %}
    {% block content %}{% endblock %}
</div>
{% block custom_footer %}
{% endblock %}
</body>
</html>