{% extends "_layout.twig" %}

{% set open_guide = true %}

{% if type == 'all' %}
    {% set le_url = 'browse?page=%s' %}
{% else %}
    {% set le_url = 'browse?type=' ~ type ~ '&page=%s' %}
{% endif %}

{% block title %}{{ localize('browse') }} {% if page != 1 %}(Page {{ page }}){% endif %}{% endblock %}

	{% block content %}
        <div class="grid">
            <div class="col-2">
                <div class="card">
                    <ul class="nav">
                        <li class="title">Sort by</li>
                        {% for key, tab in tabs %}
                            <li {% if type==key %}class="active"{% endif %}>
                                <a href="/browse?type={{key}}">{{ localize(tab.name) }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col-10">
                <div class="card card-body">
                    {% for upload in data.uploads %}
                        {% include "components/upload_box.twig" %}
                    {% else %}
                        <div class="banner banner-error" role="alert">There are no uploads.</div>
                    {% endfor %}
                    <div class="center">{{ pagination(data.count, items_per_page, le_url, page) }}</div>
                </div>
            </div>
        </div>
    {% endblock %}