{% extends "_layout.twig" %}

{% block title %}Finalium!{% endblock %}

{% set button_color_types = color_types %}

{% block content %}
    <div class="section">
        {% for color in color_types %}
            <div class="banner banner-{{ color }}">
                {# fucked? #}
                <i class="{{ notification_icon(color) }} notification-icon"></i>
                <span class="notification-text">
                This is a {{ color }} banner. You may go back to the homepage <a href="/">here</a>.
                </span>
            </div>
        {% endfor %}
    </div>
    <hr>
    <div class="grid">
        <div class="col-8">
            <div class="section">
                <div class="section-header">
                    <h2 class="section-title">Text</h2>
                </div>
                {% for color in color_types %}
                    <div class="text-{{ color }}">{{ color }} text!</div>
                {% endfor %}
            </div>
            <div class="section">
                <div class="section-header">
                    <h2 class="section-title">Date formats</h2>
                    <ul>
                        <li>full/full: {{ date() | format_date('full', 'full') }}</li>
                        <li>full/long: {{ date() | format_date('full', 'long') }}</li>
                        <li>full/medium: {{ date() | format_date('full', 'medium') }}</li>
                        <li>full/short: {{ date() | format_date('full', 'short') }}</li>
                        <li>full/none: {{ date() | format_date('full', 'none') }}</li>

                        <li>long/full: {{ date() | format_date('long', 'full') }}</li>
                        <li>long/long: {{ date() | format_date('long', 'long') }}</li>
                        <li>long/medium: {{ date() | format_date('long', 'medium') }}</li>
                        <li>long/short: {{ date() | format_date('long', 'short') }}</li>
                        <li>long/none: {{ date() | format_date('long', 'none') }}</li>

                        <li>medium/full: {{ date() | format_date('medium', 'full') }}</li>
                        <li>medium/long: {{ date() | format_date('medium', 'long') }}</li>
                        <li>medium/medium: {{ date() | format_date('medium', 'medium') }}</li>
                        <li>medium/short: {{ date() | format_date('medium', 'short') }}</li>
                        <li>medium/none: {{ date() | format_date('medium', 'none') }}</li>

                        <li>short/full: {{ date() | format_date('short', 'full') }}</li>
                        <li>short/long: {{ date() | format_date('short', 'long') }}</li>
                        <li>short/medium: {{ date() | format_date('short', 'medium') }}</li>
                        <li>short/short: {{ date() | format_date('short', 'short') }}</li>
                        <li>short/none: {{ date() | format_date('short', 'none') }}</li>

                        <li>none/full: {{ date() | format_date('none', 'full') }}</li>
                        <li>none/long: {{ date() | format_date('none', 'long') }}</li>
                        <li>none/medium: {{ date() | format_date('none', 'medium') }}</li>
                        <li>none/short: {{ date() | format_date('none', 'short') }}</li>
                        <li>none/none: {{ date() | format_date('none', 'none') }}</li>
                    </ul>
                </div>
            </div>
            <hr>
            <div class="section">
                <div class="section-header">
                    <h2 class="section-title">Buttons</h2>
                </div>
                {% for color in button_color_types %}
                    <div class="button button-{{ color }} button-small">small {{ color }} button!</div>
                {% endfor %}
                <br>
                {% for color in button_color_types %}
                    <div class="button button-{{ color }}">{{ color }} button!</div>
                {% endfor %}
                <br>
                {% for color in button_color_types %}
                    <div class="button button-{{ color }} button-big">big {{ color }} button!</div>
                {% endfor %}
            </div>
            <hr>
            <div class="section">
                <div class="section-header">
                    <h2 class="section-title">Menus</h2>
                </div>
                <div class="menu-container">
                    <div class="menu-button button button-secondary" data-menu-id="test-menu">
                        Toggle menu
                        <div class="menu-caret-container">
                            <i class="biscuit-icon caret-closed menu-caret"></i>
                        </div>
                    </div>
                    <div class="menu" id="test-menu">
                        <div class="menu-item-button">
                            <span>A menu item button.</span>
                        </div>
                        <div class="menu-item-button">
                            <span>A menu item button with a very long name.</span>
                        </div>
                        <hr>
                        <div class="menu-item-button">
                            <div class="menu-item-profile-picture profile-picture">
                                <img src="/assets/profiledef.svg" class="pfp" alt="Profile picture">
                            </div>
                            <span>User</span>
                        </div>
                        <div class="menu-item-button">
                            <div class="menu-item-profile-picture profile-picture">
                                <img src="/assets/profiledef.svg" class="pfp" alt="Profile picture">
                            </div>
                            <span>UserUserUserUserUserUserUserUserUserUserUserUserUserUserUserUserUserUserUserUserUserUser</span>
                        </div>
                        <div class="menu-item-button small">A small menu item button.</div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="section">
                <div class="section-header">
                    <h2 class="section-title">Tables</h2>
                </div>
                <table class="styled">
                    <tr class="table-header">
                        <th>Header</th>
                    </tr>
                    <tr>
                        <td>
                            Normal row
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-8">
            to be determined
        </div>
    </div>
{% endblock %}