{% extends "_layout.twig" %}

{% block title %}Edit upload{% endblock %}

	{% block content %}
        <form name="uploadForm" id="uploadForm" method="post" action="edit" enctype="multipart/form-data">
            <div class="card">
                <div class="card-body">
                    <input type="hidden" name="vid_id" value="{{ data.id }}">
                    <h2 style="margin-bottom: 0.5em;">Edit your upload</h2>
                    <p>Enter the new information for your upload.</p>
                    <h4 style="margin-bottom: 0.5em;">Title</h4>
                    <input type="text" class="form-control form-long uploader-form" name="title"
                        value="{{ data.title }}">
                    <br>
                    <h4 style="margin-bottom: 0.5em;">Description</h4>
                    <textarea class="form-control form-long uploader-form" name="desc" maxlength="2000"
                            form="uploadForm"
                            style="overflow:hidden;resize:vertical" rows="3">{{ data.description }}</textarea>
                    <br>
                    <label for="thumbnail">{{ localize('custom_thumbnail') }}</label>
                    <input class="form-submit" type="file" name="thumbnail" id="thumbnail">
                    <br>
                    <input type="checkbox" id="block_guests" name="block_guests" value="yes">
                    <label for="block_guests">{{ localize('block_guests_from_upload') }}</label>
                    <br>
                        <input type="checkbox" id="block_comments" name="block_comments" value="yes">
                        <label for="block_comments">{{ localize('disable_comments_from_upload') }}</label>
                    <br>
                    <div class="right">
                        <input class="button button-primary" type="submit" id="upload" name="upload"
                            value="Save">
                    </div>
                </div>
            </div>
        </form>
    {% endblock %}