{% extends "_layout.twig" %}

{% set title = localize("experiment_flags") %}

{% block content %}
    <div class="card card-body-article">
        <h1>{{ title }}</h1>
        <form name="devFlagForm" id="devFlagForm" method="post" action="/experiment_flags">
            <div class="form-content">
                {% for key, flag in flags %}
                    <div class="input">
                        <input type="checkbox" id="{{ key }}" name="{{ key }}" class="form-submit" value="true" {% if attribute(options, key) %}checked{% endif %}></input>
                        <label for="{{ key }}">{{ flag.name }}{% if flag.description %}<br><span>{{ flag.description }}</span>{% endif %}</label>
                    </div>
                {% endfor %}
                <div class="right">
                    <input type="submit" id="apply" name="apply" value="{{ localize('apply_action') }}" class="button button-primary">
                </div>
            </div>
        </form>
    </div>
{% endblock %}