{% extends "_layout.twig" %}
{% block title %}Home{% endblock %}

{% block precontent %}
    {% if current_theme != 'hitchhiker' %}
        <div class="jumbotron">
            <div class="container page-container {% if is_user_logged_in %}logged-in{% else %}logged-out{% endif %}">
                {% if is_user_logged_in %}
                    <div class="jumbotron-left">
                        <img class="img-pfp img-fluid" src="{{ profile_picture(user_data.id) }}" alt="{{ user_data.name }}">
                        <div>
                        <h1>{{ localize('welcome_logged_in', user_data.title) }}</h1>
                        <h3>@{{ user_data.name }}</h3>
                        <a class="button button-secondary" href="/my_uploads">Manage {{ icon('caret-right-fill', 12) }}</a>
                        </div>
                    </div>
                    <div class="jumbotron-right stats">
                        <p>{{ localize('followers', user_stat_data.followers) }}
                        <br>{{ localize('views', user_stat_data.views) }}</p>
                    </div>
                {% else %}
                    <div class="jumbotron-left">
                        <h1>{{ localize('welcome_logged_out', website_branding.name) }}</h1>
                        {% if slogan %}
                            <h3><q>{{ slogan }}</q></h3>
                        {% elseif is_chaziz_sb %}
                            <h3>{{ localize('welcome_slogan') }}</h3>
                        {% endif %}
                    </div>
                    <div class="jumbotron-right">
                        <div><a class="button button-secondary" href="/register">Get started {{ icon('caret-right-fill', 12) }}</a></div>
                        <div>Already have an account? <a class="button button-secondary button-small" href="/login">{{ localize('login') }}</a></div>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="card">
        <div {#class="card-body"#} id="feed">
            {% for key, shelf in feed %}
                <div class="shelf" id="shelf-{{ key }}" >
                    <div class="shelf-header">
                        {% if shelf.icon %}<img src="{{ shelf.icon }}" class="shelf-icon">{% endif %}
                        <h1 class="shelf-title">{{ shelf.title }}</h1>
                    </div>
                    <div class="shelf-uploads">
                        {% for upload in shelf.uploads %}
                            {% include "components/shelfvideobox.twig" %}
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        {#
            <h1>Featured on {{ website_branding.name }}</h1>
            <div>
                {% for upload in data.uploads_featured %}
                    {{ upload_box(upload) }}
                {% endfor %}
            </div>
            <hr>
            <h1>Recent Uploads</h1>
            <div>
                {% for upload in data.uploads_new %}
                    {{ upload_box(upload) }}
                {% endfor %}
            </div>
        #}
        </div>
    </div>
{% endblock %}