{% extends "_layout_account_settings.twig" %}

{% set title = localize('account_settings') %}

	{% block accountcontent %}
		{% if error %}
			<div class="banner banner-error" role="alert">{{ error }}</div>
		{% endif %}
        <div class="card card-has-padding">
            <form action="settings" method="post" enctype="multipart/form-data">
                <h1>{{ localize('profile') }}</h1>
                <table class="styled">
                    <tr class="table-header">
                        <th>Option</th>
                        <th>Value</th>
                    </tr>
                    <tr>
                        <td class="a">Profile picture</td>
                        <td class="b">
                            <input class="form-control" type="file" name="profilePicture" id="profilePicture">
                        </td>
                    </tr>
                    <tr>
                        <td class="a">Profile banner <a href="/assets/banner_template_finalium.png" target="_blank">Download template</a></td>
                        <td class="b">
                            <input class="form-control" type="file" name="profileBanner" id="profileBanner">
                        </td>
                    </tr>
                    <tr>
                        <td class="a">Display name</td>
                        <td class="b"><input type="text" name="title" size="45" maxlength="50" value="{{ user_data.title }}"></td>
                    </tr>
                    <tr>
                        <td class="a">
                            Description
                            <br><em>Markdown is allowed.</em>
                        </td>
                        <td class="b"><textarea name="about" rows="5" cols="80" wrap="virtual">{{ user_data.about }}</textarea></td>
                    </tr>
                    {% if not current_theme == "hitchhiker" %}
                    <tr>
                        <td class="a">Username color</td>
                        <td class="b"><input name="userlink_color" type="color"
                                            value="{{ user_data.userlink_color | default('0069B4') }}"></td>
                    </tr>
                    {% endif %}
                </table>

                <div class="right">
                    <input type="submit" id="upload" name="save" class="button button-primary" value="Save">
                </div>
            </form>
        </div>
	{% endblock %}