{% extends "_layout.twig" %}

{% set title = localize('my_uploads') %}

{% set total_pages = (data.count / items_per_page) | round(0, 'ceil') %}

	{% block content %}
        <h1>{{ localize('my_uploads') }} ({{ localize('page_num_of_num', page, total_pages )}})</h1>
        <p>Temporary design!</p>
        <div class="card">
            <div class="card-has-padding">
                {% for upload in data.uploads %}
                    {% include "components/upload_box_small.twig" %}
                    <a class="button button-default" href="/edit?v={{ upload.id }}">
                        <span>{{ localize('edit') }}</span>
                    </a>
                    <a class="button button-destructive" href="/delete?v={{ upload.id }}"
                       onclick="return confirm('{{ localize('delete_upload_confirm') }}');">
                        <span>{{ localize('delete') }}</span>
                    </a>
                    <hr>
                {% else %}
                    <div class="banner banner-error" role="alert">You have no uploads!</div>
                {% endfor %}

                {% set le_url = 'my_uploads?page=%s' %}
                <div class="center">{{ pagination(data.count, items_per_page, le_url, page) }}</div>
            </div>
        </div>
    {% endblock %}