<div class="card card-body highlight-box" style="padding: 15px 10px;">
    <div class="grid">
        <div class="col-1">
            <img class="img-pfp img-fluid" src="{{ profile_picture(data.username) }}" alt="{{ data.username }}">
        </div>
        <div class="col-13">
            <h1 style="margin: 0">
                {{ data.displayname }}
                {% if data.is_staff %}{{ icon("shield", 20) }}{% endif %}
            </h1>
            <p>@{{ data.username }}
                {# hack to prevent twig from outputing the number 1 #}
                {% if data.followers != 1 %}
                    {% set pluralSubscribers = "s" %}
                {% endif %}
                {% if data.views != 1 %}
                    {% set pluralViews = "s" %}
                {% endif %}
                &bull; {{ data.followers ?? "no" }} follower{{ pluralSubscribers }}
                &bull; {{ data.views ?? "no" }} view{{ pluralViews }}
            </p>
        </div>
        <div class="col-2 right">
            {% if data.id != user_data.id %}
                <button id="subscribe" class="button button-{% if data.following %}secondary{% else %}primary{% endif %}"
                        type="button"
                        {% if not is_user_logged_in %}disabled{% endif %}>{% if data.following %}Unfollow{% else %}Follow{% endif %}</button>
            {% endif %}
        </div>
    </div>
</div>
<div class="grid">
    <div class="col-4">
        <div class="card card-body basic-box">
            <h3>About {{ data.displayname }}</h3>
            {{ data.about | markdown }}
            <p><strong>Joined</strong>: {{ data.joined | date('Y-m-d H:i:s') }}</p>
            <p><strong>Last seen</strong>: {{ data.connected | relative_time }}</p>
        </div>
        <div class="card card-body basic-box">
            <h3>Journals</h3>
            {% for journal in data.journals %}
                {% include "components/journal.twig" %}
            {% else %}
                <p>There are currently no journals by {{ data.displayname }}</p>
            {% endfor %}
        </div>
    </div>
    <div class="col-12">
        <div class="card card-body basic-box">
            <h3>Uploads</h3>
            {% for submission in data.submissions %}
                {{ submission_box(submission) }}
            {% else %}
                <p>There are currently no uploads by {{ data.displayname }}</p>
            {% endfor %}
        </div>
        <div class="card card-body basic-box">
            <h3>Comments</h3>
            {% if is_user_logged_in %}
                <div>
                    <div>
                    <textarea class="form-control" id="commentContents" style="overflow:hidden;resize:none" rows="3"
                            placeholder="{{ localize('write_comment') }}"></textarea>
                    </div>
                    <div class="right">
                    <button id="post-user" class="button button-primary" style="margin-bottom:0;">{{ localize('post') }}</button>
                    </div>
                </div>
            {% endif %}
            <div id="comment"></div>
            {% for comment in data.comments %}
                {{ comment(comment) }}
            {% endfor %}
        </div>
    </div>
</div>