{% block content %}
    <div class="channel-header-bg">
        <img class="channel-header-profile-picture" 
             src="{{ profile_picture(data.username) }}"  
             alt="{{ data.username }}">
    </div>
    <div class="card channel-header">
        <div class="card-body">
            <div class="channel-header-primary">
                <h1>{{ data.displayname }}</h1>
            </div>
            <div class="channel-header-secondary">
                <a class="tab" href="/user/{{ data.displayname }}">Home</a>
                <a class="tab" href="/user/{{ data.displayname }}/uploads">Uploads</a>
                <a class="tab" href="/user/{{ data.displayname }}/journals">Journals</a>
                <a class="tab" href="/user/{{ data.displayname }}/comments">Discussion</a>
                <a class="tab" href="/user/{{ data.displayname }}/about">About</a>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            {% for submission in data.submissions %}
                {{ submission_box(submission) }}
            {% else %}
                <p>There are currently no uploads by {{ data.displayname }}</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}