{% extends "_layout_profile.twig" %}

{% set show_related_channels = true %}

{% set profile_picture = profile_picture(data.id) %}
{% set banner_picture = profile_banner(data.id) %}

{% block title %}{{ data.displayname }}{% endblock %}

{% set selected_tab = "home" %}

{% block profile_content %}
    <div class="card">
        <div class="card-body">
            {% if data.featured_upload %}
                <div class="profile-featured-upload">
                    <div class="upload-container">
                        <img src="{{ thumbnail(data.featured_upload.id, data.featured_upload.type, data.featured_upload.flags.custom_thumbnail) }}" alt="{{ data.featured_upload.title }}">
                    </div>
                    <div class="upload-info">
                        <div class="content-wrapper">
                            <h3 class="title">
                            <a href="/watch?v={{ data.featured_upload.id }}">{{ data.featured_upload.title }}</a>
                            </h3>
                        </div>
                    </div>
                </div>
                <hr>
            {% endif %}
            {% for upload in data.uploads %}
                {% include "components/upload_box_small.twig" %}
            {% else %}
                <p>There are currently no uploads by {{ data.displayname }}</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}