{% extends "_layout.twig" %}

{% block title %}{{ data.title }}{% endblock %}

{% block content %}
	<div class="card">
		<div class="card-body-fat">
			<h1>{{ data.title }}</h1>
			<p>By {{ user_link(data.author) }}, {{ data.published | relative_time }}</p>
			{{ data.contents | markdown_user_journal }}
		</div>
	</div>
	<div class="header_message header-primary">
		Commenting is only supported on Biscuit and Charla.
	</div>
	<div class="card">
		<div class="card-body-fat">
			<div id="comments">
				<div id="new-comments-here"></div>
				{% for comment in data.comments %}
					{{ comment(comment) }}
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}