{% set layout_template = current_theme == 'beta' ? '_layout.twig' : '_layout_login.twig' %}
{% embed layout_template %}
    {% block title %}Register{% endblock %}

    {% block content %}

        {% if error %}
            <div class="banner banner-danger" role="alert">{{ error }}</div>
            <br>
        {% endif %}
        {% if current_theme == 'hitchhiker' %}
            <a href="/">
                <img id="logo" src="{{ logo }}" alt="{{ website_branding.name }}">
            </a>
            <h1>{{ localize('register') }}</h1>
        {% endif %}
        <form method="post" name="loginForm" id="loginForm" action="register" class="card card-body">
            {% if current_theme != 'hitchhiker' %}
                <h1 class="form-login-heading">{{ localize('register') }}</h1>
            {% endif %}

            <input type="text" name="email" class="input-block-level" placeholder="{{ localize('email_address') }}" required>
            <input type="text" name="username" class="input-block-level" placeholder="{{ localize('username') }}" required>

            <input type="password" name="pass1" class="input-block-level" placeholder="{{ localize('password') }}" required>
            <input type="password" name="pass2" class="input-block-level" placeholder="{{ localize('password_again') }}" required>

            {% if invite_keys_enabled %}
                <input type="text" name="invite" class="input-block-level" placeholder="{{ localize('invite_key') }}" required>
            {% endif %}

            <div>
                <label for="birthdate">{{ localize('birthdate') }}</label>
                <input type="date" name="birthdate" required />
            </div>

            {% if captcha_public_token %}
                <div class="h-captcha" data-sitekey="{{ captcha_public_token }}"></div>
            {% endif %}

            {% if invite_keys_enabled %}
                <p>
                    {{ localize('register_invite_key_required', website_branding.name) }}
                </p>
            {% elseif is_chaziz_sb %}
                <p>
                    {{ localize('register_discord_requirement', website_branding.name) }}
                </p>
            {% endif %}

            <input class="button button-big button-primary" type="submit" value="{{ localize('register') }}"
                    name="registersubmit">
        </form>
    {% endblock %}
{% endembed %}