{% extends "_layout.twig" %}

{% block title %}{{ data.query }}{% endblock %}

	{% block content %}
        <h1>{{ data.query }}</h1>
        {% for upload in data.uploads %}
            {{ upload_box(upload) }}
        {% else %}
            <div class="bg-dark"
                 style="max-width:700px;margin:auto;padding:20px;padding-bottom:100px;color:white;">
                <h2>There are no uploads that match your query.</h2>
                <div style="text-align:center;margin:auto">
                    {# TODO #}
                    <img src="/assets/sb_branding/finalium/logo_monochrome.png"
                         style="max-width:150px;" alt="{{ website_branding.name }}">
                </div>
            </div>
        {% endfor %}

        {% set le_url = 'search?query=' ~ data.query ~ '&page=%s' %}

        {{ pagination(data.count, items_per_page, le_url, current_page) }}

        <br><br>
    {% endblock %}