{% extends "_layout.twig" %}

{% set title = localize('account_settings') %}

	{% block content %}
		{% if error %}
			<div class="banner banner-error" role="alert">{{ error }}</div>
		{% endif %}
        <div class="card card-has-padding">
            <form action="settings" method="post" enctype="multipart/form-data">
                <h1>Security</h1>
                <table class="styled">
                    <tr class="table-header">
                        <th>Option</th>
                        <th>Value</th>
                    </tr>
                    <tr>
                        <td class="a">Username</td>
                        <td class="b">{{ user_data.name }}</td>
                    </tr>
                    <tr>
                    <tr>
                        <td class="a">Email address</td>
                        <td class="b">{{ user_data.email }}</td>
                    </tr>
                    <tr>
                        <td class="a">Password</td>
                        <td class="b">
                            <input type="password" name="current_pass" size="30" maxlength="256"
                                placeholder="Current password"><br>
                            <input type="password" name="pass" size="30" maxlength="256" placeholder="New password"><br>
                            <input type="password" name="pass2" size="30" maxlength="256"
                                placeholder="Confirm new password">
                        </td>
                    </tr>
                </table>

                <h1>Profile</h1>
                <table class="styled">
                    <tr class="table-header">
                        <th>Option</th>
                        <th>Value</th>
                    </tr>
                    <tr>
                        <td class="a">Profile picture</td>
                        <td class="b">
                            <input class="form-control" type="file" name="profilePicture" id="profilePicture">
                        </td>
                    </tr>
                    <tr>
                        <td class="a">Profile banner</td>
                        <td class="b">
                            <input class="form-control" type="file" name="profileBanner" id="profileBanner">
                        </td>
                    </tr>
                    <tr>
                        <td class="a">Display name</td>
                        <td class="b"><input type="text" name="title" size="45" maxlength="50" value="{{ user_data.title }}"></td>
                    </tr>
                    <tr>
                        <td class="a">
                            Description
                            <br><em>Markdown is allowed.</em>
                        </td>
                        <td class="b"><textarea name="about" rows="5" cols="80" wrap="virtual">{{ user_data.about }}</textarea></td>
                    </tr>
                    {% if not current_theme == "hitchhiker" %}
                    <tr>
                        <td class="a">Username color</td>
                        <td class="b"><input name="userlink_color" type="color"
                                            value="{{ user_data.userlink_color | default('0069B4') }}"></td>
                    </tr>
                    {% endif %}
                </table>

                <h1>Filtering</h1>
                <table class="styled">
                    <tr class="table-header">
                        <th>Option</th>
                        <th>Value</th>
                    </tr>
                    <tr>
                    <td class="a">{{ localize('filtering') }}</td>
                        {% if isUserOver18 %}
                            <td class="b">
                                <input type="checkbox" name="rating" id="rating" value="true"
                                    {% if user_data.comfortable_rating == "mature" %}checked{% endif %}>
                                <label for="rating"> {{ localize('enable_sensitive_content') }}</label><br>

                                {#<input type="checkbox" name="block_under_18" id="block_under_18" value="true"
                                    {% if user_data.block_under_18 %}checked{% endif %}>
                                <label for="block_under_18"> Block profile/upload access from people under 18</label>#}
                            </td>
                        {% else %}
                            <td class="b">
                                {{ localize('restricted_sensitive_content', website_branding.name) }}
                            </td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td class="a">Blacklisted tags</td>
                        <td class="b">
                            <textarea class="form-submit" name="blacklisted_tags" rows="5" cols="80" wrap="hard">{% for tag in user_data.blacklisted_tags %}{{ tag }},{% endfor %}</textarea>
                        </td>
                    </tr>
                </table>

                <div class="right">
                    <input type="submit" id="upload" name="save" class="button button-primary" value="Save">
                </div>
            </form>
        </div>
	{% endblock %}