{% extends "_layout_account_settings.twig" %}

{% set title = localize('account_settings') %}

{% block accountcontent %}
    {% if error %}
        <div class="banner banner-error" role="alert">{{ error }}</div>
    {% endif %}
    <div class="card card-has-padding">
    <form action="settings" method="post" enctype="multipart/form-data">
    <h1>{{ localize('security') }}</h1>
    <div class="form-content">
        <div class="input">
            <label>Username</label>
            <span>{{ user_data.name }}</span>
        </div>
        <div class="input">
            <label>Email address</label>
            <span>{{ user_data.email }}</span>
        </div>
        <div class="input">
            <label>Password</label>
            <input type="password" name="current_pass" size="30" maxlength="256" placeholder="Current password">
            <input type="password" name="pass" size="30" maxlength="256" placeholder="New password">
            <input type="password" name="pass2" size="30" maxlength="256" placeholder="Confirm new password">
        </div>
    </div>
    <h1>{{ localize('filtering') }}</h1>
    <div class="form-content">
        {% if mature_uploads_enabled %}
        <div class="input">
            {% if isUserOver18 %}
            <input type="checkbox" name="rating" id="rating" value="true"
                {% if user_data.comfortable_rating == "mature" %}checked{% endif %}>
            <label for="rating">{{ localize('enable_mature_content') }}</label>
            {#<input type="checkbox" name="block_under_18" id="block_under_18" value="true"
                {% if user_data.block_under_18 %}checked{% endif %}>
            <label for="block_under_18"> Block profile/upload access from people under 18</label>#}
            {% else %}
            <label>{{ localize('filtering') }}</label>
            <span>{{ localize('restricted_mature_content', website_branding.name) }}</span>
            {% endif %}
        </div>
        {% endif %}
        <div class="input">
            <label for="blacklisted_tags">Blacklisted tags</label>
            <textarea class="form-submit" id="blacklisted_tags" name="blacklisted_tags" rows="5" cols="80" wrap="hard">{% for tag in user_data.blacklisted_tags %}{{ tag }},{% endfor %}</textarea>
        </div>
        <br>
        <input type="submit" id="upload" name="save" class="button button-primary" value="Save">
    </div>
    </form>
    </div>
{% endblock %}