{% extends "_layout_login.twig" %}

{% set title = localize('unverified_email_title') %}

{% block content %}
    {% if current_theme == 'hitchhiker' %}
        <a href="/">
            <img id="logo" src="{{ logo }}" alt="{{ website_branding.name }}">
        </a>
        <h1>{{ localize('unverified_email_title') }}</h1>
    {% endif %}
    <div class="card card-has-padding">
        {% if current_theme == 'hitchhiker' %}
            <img src="{{ profile_picture(user_data.id) }}" class="profile-picture" alt="{{ user_data.name }}">
        {% else %}
            <h1 class="form-login-heading">{{ localize('unverified_email_title') }}</h1>
        {% endif %}
        <p>{{ localize('unverified_email') }}</p>
        {% if is_chaziz_sb and not is_fulptube %}
            <p>{{ localize('unverified_email_chaziz_instance') | raw }}</p>
        {% endif %}
        <form method="post" name="loginForm" id="loginForm" action="/verify_email" class="form-login">
            <input type="submit" class="button button-big button-primary" value="{{ localize('resend') }}" name="loginsubmit">
        </form>
    </div>
{% endblock %}
