{% extends "_layout.twig" %}

{% set title = localize('new_upload') %}

	{% block content %}
        {% if current_theme == 'hitchhiker' %}
        <div class="banner banner-error">{{ localize('reupload_warning') }}</div>
        {% endif %}
        <form name="uploadForm" id="uploadForm" method="post" action="upload" enctype="multipart/form-data">
            <div class="card">
                <div class="card-has-padding">
                    <h2 style="margin-bottom: 0.5em;">{{ localize('new_upload') }}</h2>
                    <p>
                        {{ localize('new_upload_intro', '/guidelines') | raw }}
                    </p>
                    {% if current_theme != 'hitchhiker' %}
                        <p style="font-weight:600;">
                            {{ localize('reupload_warning') }}
                        </p>
                    {% endif %}
                    <h4 style="margin-bottom: 0.5em;">{{ localize('title') }} ({{ localize('form_required') }})</h4>
                    <input type="text" class="form-control form-long uploader-form" id="title" name="title" required>
                    <br>
                    <h4 style="margin-bottom: 0.5em;">{{ localize('description') }} ({{ localize('form_optional') }})</h4>
                    <textarea class="form-control form-long uploader-form" name="desc" maxlength="65535"
                              form="uploadForm"
                              style="overflow:hidden;resize:vertical" rows="3"></textarea>
                    <br>
                    <h4 style="margin-bottom: 0.5em;">{{ localize('tags') }} ({{ localize('form_optional') }})</h4>
                    <input type="text" class="form-control form-long uploader-form" name="tags">
                    <h2 style="margin-bottom: 0.5em;">{{ localize('file') }} ({{ localize('form_required') }})</h2>
                    <p>{{ localize('upload_limit', limit) }}</p>
                    <input class="form-control" type="file" name="fileToUpload" id="fileToUpload" required>
                    <br>
                    <div class="right">
                        <input class="button button-primary" type="submit" id="upload" name="upload"
                               value="{{ localize('upload_action') }}">
                    </div>
                </div>
            </div>
        </form>
    {% endblock %}