{% extends "_layout.twig" %}

{% block title %}Members{% endblock %}

	{% block content %}
		{% set total_pages = (users.count / items_per_page) | round(0, 'ceil') %}
		{% set current_page = page %}


		<div class="card card-body">
			<h1>Members</h1>
			<div class="members-list">
				{% for user in users.users %}
					<div class="members-list-member">
						<img src="{{ profile_picture(user.id) }}" alt="{{ user.info.username }}" class="img-pfp">
						<div class="members-list-entry-info">
							<div class="members-list-entry-top">
								<div class="members-list-entry-username">{{ user_link(user) }} ({{ user.info.displayname }})</div>
								<div class="members-list-entry-follower">{{ user.followers }} followers</div>
							</div>
							<div class="members-list-entry-description">
							 {{ user.about }}
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
		{% set le_url = 'members?page=%s' %}

		{{ pagination(users.count, items_per_page, le_url, current_page) }}
	{% endblock %}