{% extends "_layout.twig" %}

{% set user_role_titles = {
    4: localize('user_role_owner'),
    3: localize('user_role_administrator'),
    2: localize('user_role_moderator'),
} %}


{% block title %}{{ localize('about') }}{% endblock %}

{% block content %}
    <div class="grid">
        <div class="col-8">
            <div class="card card-body-article">
                <h1>{{ localize('about_site', website_branding.name) }}</h1>
                {# awkwardly hardcoded #}
                <svg class="icon " width="180" height="41.4" fill="currentColor"><use href="/assets/icons.svg#opensb_logo"></use></svg>
                <p>{{ localize('version_intro', '2021-' ~ ('now' | date('Y')), data.developers|join(', ')) }}</p>
                <p>{{ localize('version_agpl') }}</p>
                <p>{{ localize('version_no_warranty') }}</p>
                <p>{{ localize('version_license_notice', '/license', 'http://www.gnu.org/licenses/') | raw }}</p>
                <p>{{ localize('version_github', 'https://github.com/bluffingo/OpenSB') | raw }}</p>
                <hr>
                <table class="styled">
                    <tr class="table-header">
                        <th>Software</th>
                        <th>{{ localize('version') }}</th>
                    </tr>
                    {% for thing in data.software %}
                        <tr>
                            <td class="a">{{ thing.title }}</td>
                            <td class="b">{{ thing.info }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="col-4">
            <div class="card card-body">
                <h3>{{ localize('staff') }}</h3>
                {# temporary design #}
                {% for user in data.staff|sort((a, b) => b.level <=> a.level) %}
                        <div style="display:flex; align-items:center; gap:8px; margin-bottom:12px;">
                            <img src="{{ profile_picture(user.id) }}" alt="{{ user.info.username }}" width="48" height="48" class="profile-picture">
                            {{ user_link(user) }}
                            <div>{{ user_role_titles[user.level] }}</div>
                        </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
