{% extends "_layout.twig" %}

{% block title %}{{ localize('version') }}{% endblock %}

{% block content %}
    <div class="card card-body-article">
        <h1>{{ localize('version') }}</h1>
        <div class="grid">
            <div class="col-4 col-version">
                <img srcset="/assets/chaz_opensb.png, /assets/chaz_opensb_2x.png 2x" class="img-version">
            </div>
            <div class="col-8">
                <p>{{ localize('version_intro', '2021-' ~ ('now' | date('Y')), data.developers|join(', ')) }}</p>
                <p>{{ localize('version_agpl') }}</p>
                <p>{{ localize('version_no_warranty') }}</p>
                <p>{{ localize('version_license_notice', '/license', 'http://www.gnu.org/licenses/') | raw }}</p>
                <p>{{ localize('version_github', 'https://github.com/bluffingo/OpenSB') | raw }}</p>
                <hr>
                <table class="c1">
                    <tr class="h">
                        <th>Software</th>
                        <th>{{ localize('version') }}</th>
                    </tr>
                    {% for thing in data.software %}
                        <tr>
                            <td class="a">{{ thing.title }}</td>
                            <td class="b">{{ thing.info }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}
