{% extends "_layout.twig" %}
{% block head %}
<meta name="description" content="{{ upload.description|length > 250 ? upload.description|slice(0, 250) ~ '...' : upload.description }}">
<meta property="og:description" content="{{ upload.description|length > 250 ? upload.description|slice(0, 250) ~ '...' : upload.description }}">
<meta property="og:image" content="{{ domain }}{{ thumbnail(upload.id, upload.type, upload.flags.custom_thumbnail) }}">
<meta property="og:url" content="{{ page_url }}">
<script>
    upload_id = '{{ upload.id }}';
    user_id = '{{ upload.author.id }}';
    comment_location_type = 'upload';
    comment_location_id = '{{ upload.id }}';
</script>
{% endblock %}

{% block title %}{{ upload.title }}{% endblock %}
{% block content %}
<div class="watch-grid">
    <div class="col-left">
        <div class="upload-container">
            {{ upload_view(upload) }}
        </div>
        {% if upload.is_owner %}
            <div class="card card-body">
                <a class="button button-secondary" href="/edit.php?v={{ upload.id }}">Edit</a>
            </div>
        {% endif %}
        <div class="card card-body watch-header">
            <h1>{{ upload.title }}</h1>
            <div class="grid watch-user-header">
            <div class="col-6">
                <div class="watch-creator">
                    <div>
                        <img src="{{ profile_picture(upload.author.info.username) }}" class="img-pfp" style="width:48px;">
                    </div>
                    <div class="watch-creator-info">
                        <div class="watch-creator-userlink">
                            {{ user_link(upload.author) }}
                        </div>
                        <div>
                            {% if upload.is_owner %}
                            <a class="button button-secondary button-small">Settings</a>
                            {% else %}
                            <button id="subscribe-watch" class="button button-{% if upload.author.following %}secondary{% else %}primary{% endif %} button-small" type="button" {% if not is_user_logged_in or user_data.id == upload.author.id %}disabled{% endif %}>{% if upload.author.following %}{{ localize('unfollow') }}{% else %}{{ localize('follow') }}{% endif %}</button>
                            <div class="subscribe-count">{{ upload.author.followers }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <br>
                </div>
            </div>
            <div class="col-6 right watch-view-info">
                    {% if upload.interactions.views != 1 %}
                        {% set pluralViews = "s" %}
                    {% endif %}
                <div class="watch-view-count">{{ upload.interactions.views }} view{{ pluralViews }}</div>
                <div class="likesaber">
                    <div class="like" style="width:{{ upload.interactions.legacy.ratio }}"></div>
                </div>
            </div>
            </div>
            <hr class="watch-info-divider">
            <div class="watch-action-buttons">
            <div class="watch-secondary-actions">
                <button class="button button-secondary-invis" onclick="toggleNotAvailable()">
                    {{ icon("plus-lg", 20) }} Add to
                </button>
                <button class="button button-secondary-invis" onclick="toggleNotAvailable()">
                    {{ icon("share-fill", 20) }} Share
                </button>
                <div class="menu-container">
                    <button class="menu-button button button-secondary-invis" data-menu-id="watch-more-menu">
                        {{ icon("three-dots", 20) }} More
                    </button>
                    <div class="menu" id="watch-more-menu">
                        <div class="menu-item-button" onclick="toggleNotAvailable()">
                            {{ icon("flag-fill", 16) }} <span>Report</span>
                        </div>
                        <div class="menu-item-button" onclick="toggleNotAvailable()">
                            {{ icon("bar-chart-fill", 16) }} <span>Statistics</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="watch-sentiment-actions">
                <button href="/#" id="{% if is_user_logged_in %}like{% else %}action_unlogged{% endif %}"
                        class="button button-like button-secondary-invis {% if upload.interactions.legacy.current_rating == "like" %}button-toggled{% endif %}">
                    {{ icon("hand-thumbs-up-fill", 20) }}
                    <span id="like-count">{{ upload.interactions.legacy.likes }}</span>
                </button>
                <button href="/#" id="{% if is_user_logged_in %}dislike{% else %}action_unlogged{% endif %}"
                        class="button button-dislike button-secondary-invis {% if upload.interactions.legacy.current_rating == "dislike" %}button-toggled{% endif %} tooltip" title="Dislike">
                    {{ icon("hand-thumbs-down-fill", 20) }}
                    <span id="dislike-count">{{ upload.interactions.legacy.dislikes }}</span>
                </button>
            </div>
            </div>
            <div class="grid" style="margin-top:5px;">
            <div class="col-8">
                <div style="margin-top:-9px;">
                    {# <button href="/#" id="{% if is_user_logged_in %}favorite{% else %}action_unlogged{% endif %}"
                                class="button {% if isFavorited %}button-warning{% else %}button-secondary-invis{% endif %} tooltip" title="Favorite">
                        {{ icon("star-fill", 20) }}
                        </button> #}
                </div>
            </div>
            </div>
        </div>
        <div class="card card-body" id="watch-not-available" style="display:none;">
            <button class="watch-panel-close-button" id="watch-not-available-close">{{ icon("x-lg", 10) }}</button>
            <div>This feature is not available right now. Please try again later.</div>
        </div>
        <div class="card card-body">
            <div class="watch-description">
            <div class="watch-uploader-info">
                <strong>Uploaded on {{ upload.published | date('M j, Y') }}</strong>
            </div>
            {% if upload.published_originally and upload.original_site %}
                <div class="watch-box-author-info-small">First uploaded on {{ upload.original_site }} on {{ upload.published_originally | date('M j, Y') }}</div>
            {% elseif upload.original_site %}
                <div class="watch-box-author-info-small">Originally uploaded on {{ upload.original_site }}</div>
            {% endif %}
            {% if upload.description | trim is not empty %}
                {{ upload.description | markdown_user_written }}
            {% else %}
                <p>This upload has no description.</p>
            {% endif %}
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div id="comments">
                    Loading...
                </div>
            </div>
        </div>
    </div>
    <div class="col-right">
        <div class="card">
            <div class="card-body card-body-watch-sidebar">
            {% if upload.recommended %}
                {% for upload in upload.recommended %}
                    {{ upload_box(upload) }}
                {% endfor %}
            {% elseif upload.other_by_author %}
                {% for upload in upload.other_by_author %}
                    {{ upload_box(upload) }}
                {% endfor %}
            {% elseif upload.random %}
                {% for upload in upload.random %}
                    {{ upload_box(upload) }}
                {% endfor %}
            {% endif %}
            <div class="center">
                <div class="button button-secondary" onclick="showMoreVideos()" id="fromUser">
                    Show more
                </div>
            </div>
            <div class="collapsed" id="fromUserVideoList">
            </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}