{% extends "_layout.twig" %}
{% block head %}
   <meta name="description" content="{{ submission.description|length > 250 ? submission.description|slice(0, 250) ~ '...' : submission.description }}">
   <meta property="og:description" content="{{ submission.description|length > 250 ? submission.description|slice(0, 250) ~ '...' : submission.description }}">
   <meta property="og:image" content="{{ domain }}{{ thumbnail(submission.id, submission.type, submission.flags.custom_thumbnail) }}">
   <meta property="og:url" content="{{ page_url }}">
   <script>
      submission_id = '{{ submission.id }}';
      user_id = '{{ submission.author.id }}';
   </script>
{% endblock %}

{% if current_theme == 'hitchhiker' %}
   {% set grid = 'watch-grid' %}
   {% set col_left = 'col-left' %}
   {% set col_right = 'col-right' %}
{% else %}
   {% set grid = 'grid' %}
   {% set col_left = 'col-10' %}
   {% set col_right = 'col-6' %}
{% endif %}

{% block title %}{{ submission.title }}{% endblock %}
{% block content %}
   <div class="{{ grid }}">
      <div class="{{ col_left }}">
         <div class="card">
            {{ submission_view(submission) }}
            {% if submission.is_owner %}
               <div class="bg-dark text-light card card-body" style="border-bottom:none;border-color:black;">
                  <a class="button button-dark" href="/edit.php?v={{ submission.id }}">Edit</a>
               </div>
            {% endif %}
         </div>
         <div class="card card-body watch-header">
            <h1>{{ submission.title }}</h1>
            <div class="grid watch-user-header">
               <div class="col-8">
                  <div class="watch-creator">
                     <div>
                        <img src="{{ profile_picture(submission.author.info.username) }}" class="img-pfp" style="width:48px;">
                     </div>
                     <div>
                        <a href="/user.php?name={{ submission.author.info.username }}"
                           style="color:{{ submission.author.info.color }}">
                           <b style="height: 20px;display: inline-block;">
                              {{ submission.author.info.username }}
                           </b>
                        </a>
                        {% if submission.author.info.powerlevel > 1 %}{{ icon("shield", 16) }}{% endif %}
                        {# • {{ allVideos }} videos#}
                        <br>
                        {% if submission.is_owner %}
                           <a class="button button-secondary button-small">Settings</a>
                        {% else %}
                           <button id="subscribe-watch" class="button button-{% if submission.author.following %}secondary{% else %}primary{% endif %} button-small" type="button" {% if not is_user_logged_in or user_data.id == submission.author.id %}disabled{% endif %}>{% if submission.author.following %}Unfollow{% else %}Follow{% endif %}</button>
                           <div class="subscribe-count">{{ submission.author.followers }}</div>
                        {% endif %}
                     </div>
                     <br>
                  </div>
               </div>
               <div class="col-8 right watch-view-info">
                  <div class="watch-view-count">{{ submission.interactions.views }} views</div>
                  <div class="likesaber">
                     <div class="like" style="width:{{ submission.interactions.legacy.ratio }}%"></div>
                  </div>
               </div>
            </div>
            <hr class="watch-info-divider">
            <div class="watch-action-buttons">
               <div class="watch-secondary-actions">
                  <button class="button button-secondary-invis">
                     {{ icon("plus-lg", 20) }} Add to
                  </button>
                  <button class="button button-secondary-invis">
                     {{ icon("share-fill", 20) }} Share
                  </button>
                  <button class="button button-secondary-invis">
                     {{ icon("three-dots", 20) }} More
                  </button>
               </div>
               <div class="watch-sentiment-actions">
                  <button href="/#" id="{% if is_user_logged_in %}like{% else %}action_unlogged{% endif %}"
                          class="button button-like button-secondary-invis {% if submission.interactions.legacy.current_rating == "like" %}button-toggled{% endif %}">
                     {{ icon("hand-thumbs-up-fill", 20) }}
                     <span id="like-count">{{ submission.interactions.legacy.likes }}</span>
                  </button>
                  <button href="/#" id="{% if is_user_logged_in %}dislike{% else %}action_unlogged{% endif %}"
                          class="button button-dislike button-secondary-invis {% if submission.interactions.legacy.current_rating == "dislike" %}button-toggled{% endif %} tooltip" title="Dislike">
                     {{ icon("hand-thumbs-down-fill", 20) }}
                     <span id="dislike-count">{{ submission.interactions.legacy.dislikes }}</span>
                  </button>
               </div>
            </div>
            <div class="grid" style="margin-top:5px;">
               <div class="col-8">
                  <div style="margin-top:-9px;">
                     {# <button href="/#" id="{% if is_user_logged_in %}favorite{% else %}action_unlogged{% endif %}"
                                class="button {% if isFavorited %}button-warning{% else %}button-secondary-invis{% endif %} tooltip" title="Favorite">
                           {{ icon("star-fill", 20) }}
                        </button> #}
                  </div>
               </div>
            </div>
         </div>
         <div class="card card-body">
            <div class="watch-description">
               <div class="watch-uploader-info">
                  <strong>Uploaded on {{ submission.published | date('M j, Y') }}</strong>
               </div>
               {% if submission.published_originally and submission.original_site %}
                  <div class="watch-box-author-info-small">First uploaded on {{ submission.original_site }} on {{ submission.published_originally | date('M j, Y') }}</div>
               {% elseif submission.original_site %}
                  <div class="watch-box-author-info-small">Originally uploaded on {{ submission.original_site }}</div>
               {% endif %}
               {% if submission.description | trim is not empty %}
                  {{ submission.description | markdown_user_written }}
               {% else %}
                  <p>This upload has no description.</p>
               {% endif %}
            </div>
         </div>
         <div class="card">
            <div class="card-body">
               <h3>Comments ({{ submission.interactions.comments }})</h3>
               {% if is_user_logged_in %}
                  <div>
                     <div>
                     <textarea class="form-control" id="commentContents" style="overflow:hidden;resize:none" rows="3"
                               placeholder="{{ localize('write_comment') }}"></textarea>
                     </div>
                     <div class="right">
                        <button id="post" class="button button-primary" style="margin-bottom:0;">{{ localize('post') }}</button>
                     </div>
                  </div>
               {% endif %}
               <div id="comment"></div>
               {% for comment in submission.comments %}
                  {{ comment(comment) }}
               {% endfor %}
            </div>
         </div>
      </div>
      <div class="{{ col_right }}">
         <div class="card">
            <div class="card-body card-body-watch-sidebar">
               {% if submission.recommended %}
                  {% for submission in submission.recommended %}
                     {{ submission_box(submission) }}
                  {% endfor %}
               {% elseif submission.other_by_author %}
                  {% for submission in submission.other_by_author %}
                     {{ submission_box(submission) }}
                  {% endfor %}
               {% elseif submission.random %}
                  {% for submission in submission.random %}
                     {{ submission_box(submission) }}
                  {% endfor %}
               {% endif %}
               <div class="center">
                  <div class="button button-secondary" onclick="showMoreVideos()" id="fromUser">
                     Show more
                  </div>
               </div>
               <div class="collapsed" id="fromUserVideoList">
               </div>
            </div>
         </div>
      </div>
   </div>
{% endblock %}