{% extends "_layout.twig" %}

{% block script %}
<script>
    upload_id = '{{ upload.id }}';
    upload_int_id = '{{ upload.int_id }}';
    user_id = '{{ upload.author.id }}';
    comment_location_type = 'upload';
    comment_location_id = '{{ upload.id }}';
</script>
{% endblock %}

{% if current_theme == "hitchhiker" %}
    {% set creator_bar_icon_size = [17, 18] %}
{% else %}
    {% set creator_bar_icon_size = 16 %}
{% endif %}

{% set title = upload.title %}

{% block content %}
<div class="watch-grid">
    <div class="col-left">
        <div class="upload-container">
            {{ upload_view(upload) }}
            {% if options.finalium_enable_spf %}<div class="banner banner-error">The player does NOT load on SPF. This is a known issue.</div>{% endif %}
        </div>
        {% if upload.is_owner %}
            <div class="card card-body watch-creator-bar">
                <div class="watch-creator-bar-left">
                    <a class="button button-default-invis uix-tooltip" title="Info and Settings" href="/edit?v={{ upload.id }}">
                        {{ icon(fi.watch_creator_info, creator_bar_icon_size) }}
                    </a>
                </div>
                <a class="button button-default" href="/my_uploads">Upload Manager</a>
            </div>
        {% endif %}
        <div class="card card-body watch-header">
            <h1>{{ upload.title }}</h1>
            <div class="grid watch-user-header">
                <div class="col-6">
                    <div class="watch-creator">
                        <a href=""><img src="{{ profile_picture(upload.author.id) }}" class="profile-picture"></a>
                        <div class="watch-creator-info">
                            <div class="watch-creator-userlink">
                                {{ user_link(upload.author) }}
                            </div>
                            <div class="watch-creator-subscribe">
                                {% if upload.is_owner %}
                                <a class="button button-default button-small">Channel settings</a>
                                {% else %}
                                <button id="follow-watch" class="button button-{% if upload.author.following %}default{% else %}follow{% endif %} button-small" type="button" {% if not is_user_logged_in or user_data.id == upload.author.id %}disabled{% endif %}>{% if upload.author.following %}{{ localize('unfollow') }}{% else %}{{ localize('follow') }}{% endif %}</button>
                                <div class="follow-count">{{ upload.author.followers }}</div>
                                {% endif %}
                            </div>
                        </div>
                        <br>
                    </div>
                </div>
                <div class="col-6 right watch-view-info">
                    <div class="watch-view-count">{{ localize('views', upload.interactions.views) }}</div>
                    <div class="likesaber">
                        <div class="like" style="width:{{ upload.interactions.legacy.ratio }}"></div>
                    </div>
                </div>
            </div>
            <hr class="watch-info-divider">
            <div class="watch-action-buttons">
                <div class="watch-secondary-actions">
                    <button class="button button-default-invis uix-tooltip" onclick="toggleNotAvailable()" title="{{ localize('add_to') }}">
                        {{ icon(fi.watch_add_to, 20) }} {{ localize('add_to') }}
                    </button>
                    <button class="button button-default-invis uix-tooltip" onclick="toggleNotAvailable()" title="{{ localize('share') }}">
                        {{ icon(fi.watch_share, 20) }} {{ localize('share') }}
                    </button>
                    <div class="menu-container">
                        <button class="menu-button button button-default-invis uix-tooltip" data-menu-id="watch-more-menu" title="{{ localize('more_actions') }}">
                            {{ icon(fi.watch_more, 20) }} {{ localize('more') }}
                        </button>
                        <div class="menu" id="watch-more-menu">
                            <div class="menu-item-button" onclick="toggleNotAvailable()">
                                {{ icon(fi.watch_panel_report, 16) }} <span>{{ localize('report') }}</span>
                            </div>
                            <div class="menu-item-button" onclick="toggleNotAvailable()">
                                {{ icon(fi.watch_panel_stats, 16) }} <span>Statistics</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="watch-sentiment-actions">
                    <button href="/#" id="{% if is_user_logged_in %}like{% else %}action_unlogged{% endif %}"
                            class="button button-like button-default-invis uix-tooltip {% if upload.interactions.legacy.current_rating == "like" %}button-toggled{% endif %}" title="{{ localize('i_like_this') }}">
                        {{ icon(fi.watch_like, 20) }}
                        <span id="like-count">{{ upload.interactions.legacy.likes }}</span>
                    </button>
                    <button href="/#" id="{% if is_user_logged_in %}dislike{% else %}action_unlogged{% endif %}"
                            class="button button-dislike button-default-invis uix-tooltip {% if upload.interactions.legacy.current_rating == "dislike" %}button-toggled{% endif %}" title="{{ localize('i_dislike_this') }}">
                        {{ icon(fi.watch_dislike, 20) }}
                        <span id="dislike-count">{{ upload.interactions.legacy.dislikes }}</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="card card-body" id="watch-not-available" style="display:none;">
            <button class="watch-panel-close-button" id="watch-not-available-close">{{ icon(fi.watch_panel_dismiss, 10) }}</button>
            <div>{{ localize('unavailable_feature') }}</div>
        </div>
        <div class="card card-body">
            <div class="watch-description">
            <div class="watch-uploader-info">
                <strong>{{ localize('uploaded_on', upload.published | format_date('medium', 'none')) }}</strong>
            </div>
            {% if upload.published_originally and upload.original_site %}
                <div class="watch-box-author-info-small">
                    {{ localize('first_uploaded_on', upload.original_site, upload.published_originally | format_date('medium', 'none')) }}
                </div>
            {% elseif upload.original_site %}
                <div class="watch-box-author-info-small">
                    {{ localize('originally_uploaded_on', upload.original_site )}}
                </div>
            {% endif %}
            {% if upload.description | trim is not empty %}
                {{ upload.description | markdown_user_written }}
            {% else %}
                <p>{{ localize('upload_no_description') }}</p>
            {% endif %}
            </div>
            <div class="button button-expander">{{ localize('show_more') }}</div>
        </div>
        <div class="card">
            <div class="card-body">
                <div id="comments">
                    {{ localize("loading") }}
                </div>
            </div>
        </div>
    </div>
    <div class="col-right">
        <div class="card">
            <div class="card-body card-body-watch-sidebar">
                {% if upload.recommended %}
                    {% for upload in upload.recommended %}
                        {% include "components/upload_box_small.twig" %}
                    {% endfor %}
                {% elseif upload.other_by_author %}
                    {% for upload in upload.other_by_author %}
                        {% include "components/upload_box_small.twig" %}
                    {% endfor %}
                {% elseif upload.random %}
                    {% for upload in upload.random %}
                        {% include "components/upload_box_small.twig" %}
                    {% endfor %}
                {% endif %}
                <div class="button button-expander">{{ localize('show_more') }}</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}