<footer>
    <div class="footer">
        <div class="footer-main">
            <img src="/assets/opensb_logo.png" alt="OpenSB">
            {% if is_debug %}
                <a class="button button-danger debug-button tooltip" title="Spicy!" role="button">{{ localize('debug') }}</a>
            {% endif %}
        </div>
        <hr>
        <div class="footer-links">
            <div class="footer-links-primary">
                {% for link in footer_links() %}
                    <a href="{{ link.url }}">{{ link.name }}</a>
                {% endfor %}
            </div>
            <div class="footer-links-secondary">
                <a href="/version">Running OpenSB {{ opensb_version }}</a>
                <span>{{ localize('footer_copyright', ('now' | date('Y'))) }}</span>
            </div>
        </div>
        {% if is_debug %}
            <div id="debugModal" class="bg-secondary" style="padding:0.3em;">
                <h3>Debug info</h3>
                <div class="banner banner-danger">It is risky to screenshot this due to security reasons, so please don't.</div>
                <div><pre>{{ dump() }}</pre></div>
            </div>
        {% endif %}
    </div>
</footer>