<footer>
    <div class="footer">
        <div class="footer-main">
            <img src="/assets/opensb_logo.svg" alt="OpenSB">
            {% if is_debug %}
                <a class="button button-danger tooltip" id="debug-button" role="button">{{ localize('debug') }}</a>
            {% endif %}
        </div>
        <hr>
        <div class="footer-links">
            <div class="footer-links-primary">
                {% for link in footer_links() %}
                    <a href="{{ link.url }}">{{ link.name }}</a>
                {% endfor %}
            </div>
            <div class="footer-links-secondary">
                <a href="/version">Running OpenSB {{ opensb_version.name }} {{ opensb_version.number }}</a>
                <span>{{ localize('footer_copyright', ('now' | date('Y'))) }}</span>
            </div>
            {% if is_debug %}
                <div class="footer-profiler">
                    {{ profiler_stats() }}
                </div>
            {% endif %}
        </div>
    </div>
</footer>