<footer>
    <div class="footer">
        <div class="footer-main">
            <img src="/assets/opensb_logo.png" alt="OpenSB">
            {% if is_debug %}
                <a class="button button-danger debug-button tooltip" title="Spicy!" role="button">{{ localize('debug') }}</a>
            {% endif %}
        </div>
        <hr>
        <div class="footer-links">
            <div class="footer-links-primary">
                <a href="/theme">{{ localize('change_theme') }}</a>
                <a href="/help">{{ localize('help') }}</a>
                <a href="/guidelines">{{ localize('community_guidelines') }}</a>
                <a href="/tos">{{ localize('terms_of_service') }}</a>
                <a href="/privacy">{{ localize('privacy_policy') }}</a>
                <a href="/staff">{{ localize('staff') }}</a>
            </div>
            <div class="footer-links-secondary">
                <a href="/version">Running OpenSB {{ opensb_version }}</a>
                <span>{{ localize('footer_copyright', '2021-' ~ ('now' | date('Y'))) }}</span>
            </div>
        </div>
        {% if is_debug %}
            <div id="debugModal" class="bg-secondary" style="padding:0.3em;">
                <h3>Debug info</h3>
                <div class="banner banner-danger">It is risky to screenshot this due to security reasons, so please don't.</div>
                <div><pre>{{ dump() }}</pre></div>
            </div>
        {% endif %}
    </div>
</footer>