<footer>
    <div class="footer">
        <div class="footer-main">
            <img src="/assets/opensb_logo.png" alt="OpenSB">
            {% if is_debug %}
                <a class="button button-danger tooltip" id="debug-button" role="button">{{ localize('debug') }}</a>
            {% endif %}
        </div>
        <hr>
        <div class="footer-links">
            <div class="footer-links-primary">
                {% for link in footer_links() %}
                    <a href="{{ link.url }}">{{ link.name }}</a>
                {% endfor %}
            </div>
            <div class="footer-links-secondary">
                <a href="/version">Running OpenSB {{ opensb_version.name }} {{ opensb_version.number }}</a>
                <span>{{ localize('footer_copyright', ('now' | date('Y'))) }}</span>
            </div>
            {% if is_debug %}
                <div class="footer-profiler">
                    {{ profiler_stats() }}
                </div>
            {% endif %}
        </div>
        {% if is_debug %}
            {% set profiler = db_profiler_info() %}
            <div id="debugModal" class="bg-secondary" style="padding:0.3em;">
                <h3>Debug info</h3>
                <div class="banner banner-danger">It is risky to screenshot this due to security reasons, so please don't.</div>
                <div>
                    Total queries: {{ profiler.total_queries }}<br>
                    Total query time: {{ profiler.total_time }} seconds<br>
                    Average time: {{ profiler.average_time }} seconds<br><br>

                    <strong>Slowest query ({{ profiler.slowest_query.execution_time }}s):</strong><br>
                    <pre>{{ profiler.slowest_query.query }}</pre>
                    Parameters: {% for param in profiler.slowest_query.params %}<code>{{ param }}</code>{% if not loop.last %},{% endif %} {% endfor %}<br>
                    Location: {{ profiler.fastest_query.caller_info.file }} (line {{ profiler.fastest_query.caller_info.line }})<br><br>

                    <strong>Fastest query ({{ profiler.fastest_query.execution_time }}s):</strong><br>
                    <pre>{{ profiler.fastest_query.query }}</pre>
                    Parameters: {% for param in profiler.fastest_query.params %}<code>{{ param }}</code>{% if not loop.last %},{% endif %} {% endfor %}<br>
                    Location: {{ profiler.fastest_query.caller_info.file }} (line {{ profiler.fastest_query.caller_info.line }})

                    <hr>

                    <strong>All Queries:</strong><br>
                    {% for query in profiler.queries %}
                        #{{ loop.index }} ({{ query.time }}s):
                        <pre>{{ query.query }}</pre>
                        Parameters: {% for param in query.params %}<code>{{ param }}</code>{% if not loop.last %},{% endif %} {% endfor %}<br>
                        Location: {{ query.caller_info.file }} (line {{ query.caller_info.line }}, {{ query.caller_info.function }})<br><br>
                    {% endfor %}
                </div>
                <div><pre>{{ dump() }}</pre></div>
            </div>
        {% endif %}
    </div>
</footer>