<footer class="footer">
    <div class="footer-container">
        <div class="footer-main">
            <a href="/"><img id="logo" src="{{ logo }}" alt="{{ website_branding.name }}"></a>
            <div class="button button-default">Button</div>
            <div class="button button-default">Button</div>
            <div class="button button-default">Button</div>
            <div class="button button-default">Button</div>
        </div>
        <hr>
        <div class="footer-links">
            <div class="footer-links-primary">
                {% for link in footer_links() %}
                    <a href="{{ link.url }}">{{ link.name }}</a>
                {% endfor %}
            </div>
            <div class="footer-links-secondary">
                <span>{{ localize('powered_by') }} OpenSB {{ opensb_version.name }} {{ opensb_version.number }}</span>
                <span>{{ localize('footer_copyright', ('now' | date('Y'))) }}</span>
            </div>
        </div>
    </div>
</footer>