{% set guide_links = sidebar_main_links() %}
<div id="guide" class="{% if show_warning_banner %}with-fullscreen-banner{% endif %}" {% if open_guide %}style="display: block;"{% endif %}>
    <div class="guide-container">
        <ul>
            {# MAIN LINKS #}
            {% for key, item in guide_links.top %}
                <li class="guide-channel">
                    <a href="{{ item.url }}"
                    class="guide-item {% if page_name == (item.page ?? key) %}selected{% endif %}">
                        <div class="thumb">{{ icon(item.icon, 20) }}</div>
                        {{ item.name }}
                    </a>
                </li>
            {% endfor %}
            <hr>

            {# PLAYLISTS/COLLECTIONS #}
            {% if is_user_logged_in %}
            <li class="header">{{ localize('library') }}</li>
                {% for key, item in sidebar_library_links() %}
                    <li class="guide-channel">
                        <a href="{{ item.url }}"
                        class="guide-item {% if page_name == (item.page ?? key) %}selected{% endif %}">
                            <div class="thumb">{{ icon(item.icon, 20) }}</div>
                            {{ item.name }}
                        </a>
                    </li>
                {% endfor %}
            <hr>
            {% endif %}

            {# FOLLOWING/FEATURED #}
            {% if is_user_logged_in %}
                <div class="header">{{ localize('following') }}</div>
            {% else %}
                <div class="header">{{ localize('best_of_site', website_branding.name )}}</div>
            {% endif %}
            {% for item in sidebar_following_users() %}
                <li class="guide-channel">
                    <a href="/user/{{ item.username }}" class="guide-item {% if page_name == "user " ~ item.username %}selected{% endif %}">
                        <img class="thumb profile-picture" src="{{ profile_picture(item.id) }}">
                        {{ item.username }}
                    </a>
                </li>
            {% endfor %}

            {# BOTTOM LINKS #}
            <hr>
            {% for key, item in guide_links.bottom %}
                <li class="guide-channel">
                    <a href="{{ item.url }}"
                    class="guide-item {% if page_name == (item.page ?? key) %}selected{% endif %}">
                        <div class="thumb">{{ icon(item.icon, 20) }}</div>
                        {{ item.name }}
                    </a>
                </li>
            {% endfor %}
            
            {# LOGIN THING #}
            {% if not is_user_logged_in %}
                <hr>
                <p>Sign in now to see your channels and recommendations!</p>
                <a href="/login" class="button button-primary">{{ localize('login') }}</a>
            {% endif %}
        </ul>
    </div>
</div>