{% if current_theme == "hitchhiker" %}
    {% set masthead_button_icon_size = 24 %}
    {% set masthead_guide_icon_size = 16 %}
{% else %}
    {% set masthead_button_icon_size = 20 %}
    {% set masthead_guide_icon_size = 20 %}
{% endif %}

<div id="masthead-container" class="{% if show_warning_banner %}with-fullscreen-banner{% endif %}">
    <div id="masthead">
        <div id="header-main">
            <div id="logo-container">
                <div class="button button-default-invis masthead-button guide-button" id="guide-toggle">
                    {{ icon(fi.masthead_guide, masthead_guide_icon_size) }}
                </div>
                <a href="/" class="spf-link">
                    {% apply spaceless %}
                    <img id="logo" src="{{ logo }}" alt="{{ website_branding.name }}">
                    {% if options.finalium_enable_spf %}
                        <span class="content-region" style="color:red;">SPF</span>
                    {% elseif country_code is defined and country_code|trim != '' and country_code != 'US' and current_theme == 'hitchhiker' %}
                        <span class="content-region">{{ country_code }}</span>
                    {% endif %}
                    {% endapply %}
                </a>
            </div>
            <form id="masthead-search" action="/search">
                <div id="masthead-search-terms">
                    <label><input type="text" name="query" placeholder="{{ localize('search') }}"></label>
                </div>
                <button id="search-btn" class="button button-default">{{ icon(fi.masthead_search, 15) }}</button>
            </form>
        </div>
        <div id="header-user">
            {% if current_theme == 'hitchhiker' %}
                <a href="/upload" class="button button-default">{{ localize('new_upload') }}</a>
                {% if is_user_logged_in %}
                    <a class="button button-default-invis masthead-button" href="/notifications">{{ icon(fi.masthead_bell, masthead_button_icon_size) }}</a>
                {% endif %}
            {% else %}
                {% if is_user_logged_in %}
                    <a class="button button-default-invis masthead-button uix-tooltip" title="{{ localize('new_upload') }}" href="/upload">{{ icon(fi.masthead_upload, masthead_button_icon_size) }}</a>
                    <a class="button button-default-invis masthead-button" href="/notifications">{{ icon(fi.masthead_bell, masthead_button_icon_size) }}</a>
                {% endif %}
            {% endif %}
            {% if is_user_logged_in %}
            {#
                <div style="margin:0;width:1.75rem;" id="masthead-loggedin" class="masthead-user">
                    <div style="margin-top: 4px;">
                        <img class="profile-picture img-fluid" src="{{ profile_picture(user_data.id) }}" alt="{{ user_data.name }}">
                        <div class="menu" id="masthead-below">
                            <ul style="padding:0">
                                {% for link in header_user_links() %}
                                    <li><a class="menulink" href="{{ link.url }}">{{ link.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            #}
                <div id="masthead-loggedin" class="masthead-user">
                    <div class="menu-button user-menu-button" data-menu-id="user-menu">
                        <img class="profile-picture img-fluid" src="{{ profile_picture(user_data.id) }}" alt="{{ user_data.name }}">
                    </div>
                    <div id="user-menu">
                        <div class="header">{{ user_data.email }}</div>
                        <div class="body">
                            <img class="profile-picture img-fluid" src="{{ profile_picture(user_data.id) }}" alt="{{ user_data.name }}">
                            <div class="info">
                                <div class="name">{{ user_data.name }}</div>
                                <div class="followers">{{ localize('followers', user_stat_data.followers) }}</div>
                            </div>
                        </div>
                        <div class="user-menu-footer">
                            <a class="button button-default" href="/logout">{{ localize('logout') }}</a>
                        </div>
                    </div>
                </div>
            {% else %}
                {% if current_theme == 'hitchhiker' %}
                    <a href="/login" class="button button-primary">{{ localize('login') }}</a>
                {% else %}
                    <a href="/login">{{ localize('login') }}</a>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>