<div id="masthead-container" class="{% if show_warning_banner %}with-fullscreen-banner{% endif %}">
    <div id="masthead">
        <div id="header-main">
            <div id="logo-container">
                <div class="button button-secondary-invis masthead-button guide-button" id="guide-toggle">
                    {{ icon("list", 16) }}
                </div>
                <a href="/">
                    {% apply spaceless %}
                    <img id="logo" src="{{ logo }}" alt="{{ website_branding.name }}">
                    {% if country_code is defined and country_code|trim != '' and country_code != 'US' %}
                        <span class="content-region">{{ country_code }}</span>
                    {% endif %}
                    {% endapply %}
                </a>
            </div>
            <form id="masthead-search" action="/search">
                <div id="masthead-search-terms">
                    <label><input type="text" name="query" placeholder="{{ localize('search') }}"></label>
                </div>
                <button id="search-btn" class="button button-secondary">
                    <span>{{ icon("search", 15) }}</span>
                </button>
            </form>
        </div>
        <div id="header-user">
            {% if current_theme == 'hitchhiker' %}
                <a href="/upload" class="button button-secondary">Upload</a>
                {% if is_user_logged_in %}
                    <a class="button button-secondary-invis masthead-button" href="/notifications">{{ icon("bell", 20) }}</a>
                {% endif %}
            {% else %}
                {% if is_user_logged_in %}
                    <a class="button button-secondary-invis masthead-button" href="/upload">{{ icon("upload", 20) }}</a>
                    <a class="button button-secondary-invis masthead-button" href="/notifications">{{ icon("bell", 20) }}</a>
                {% endif %}
            {% endif %}
            {% if is_user_logged_in %}
            {#
                <div style="margin:0;width:1.75rem;" id="masthead-loggedin" class="masthead-user">
                    <div style="margin-top: 4px;">
                        <img class="img-pfp img-fluid" src="{{ profile_picture(user_data.id) }}" alt="{{ user_data.name }}">
                        <div class="menu" id="masthead-below">
                            <ul style="padding:0">
                                {% for link in header_user_links() %}
                                    <li><a class="menulink" href="{{ link.url }}">{{ link.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            #}
                <div id="masthead-loggedin" class="masthead-user">
                    <div class="menu-button user-menu-button" data-menu-id="user-menu">
                        <img class="img-pfp img-fluid" src="{{ profile_picture(user_data.id) }}" alt="{{ user_data.name }}">
                    </div>
                    <div id="user-menu">
                        <div class="header">{{ user_data.email }}</div>
                        <div>This is the new Finalium user menu!</div>
                    </div>
                </div>
            {% else %}
                {% if current_theme == 'hitchhiker' %}
                    <a href="/login" class="button button-primary">{{ localize('login') }}</a>
                {% else %}
                    <a href="/login">{{ localize('login') }}</a>
                    <a href="/register">{{ localize('register') }}</a>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>