<div class="thread">
    <div class="comment" id="comment-{{ comment.id }}">
        <div class="comment-avatar">
            <a href="/user/{{ comment.author.info.username }}" class="spf-link">
                <img src="{{ profile_picture(comment.author.id) }}" class="profile-picture" alt="{{ comment.author.info.username }}">
            </a>
        </div>
        <div class="comment-body">
            <div class="comment-header">
                <div class="comment-author {% if comment.author.is_owner %}owner{% endif %}">
                    {{ user_link(comment.author) }}
                </div>
                <div class="comment-timestamp" title="{{ comment.posted | date('F j, Y') }}">
                    {{ comment.posted | relative_time }}
                </div>
            </div>
            <div class="comment-contents">
                {% if comment.post | trim is not empty %}
                    {{ comment.post | markdown_user_written }}
                {% else %}
                    <em>Null comment</em>
                {% endif %}
            </div>
            <div class="comment-actions">
                <a class="reply-button" data-comment-id="{{ comment.id }}">{{ localize("reply_action") }}</a>
            </div>
            {% if comment.id and is_user_logged_in %}
            <div class="reply-form" id="reply-form-{{ comment.id }}" style="display: none;">
                <div class="comment">
                    <div class="comment-avatar">
                        <a href="/user/{{ user_data.username }}" class="spf-link">
                            <img src="{{ profile_picture(user_data.id) }}" class="profile-picture" alt="{{ user_data.name }}">
                        </a>
                    </div>
                    <div class="comment-body">
                        <textarea class="form-control" id="reply_contents_{{ comment.id }}" maxlength="1000" rows="3" placeholder="{{ localize('write_reply') }}"></textarea>
                        <div class="comment-form-buttons">
                            <button class="button button-default submit-cancel-button">{{ localize("cancel") }}</button>
                            <button class="button button-primary submit-reply-button" data-comment-id="{{ comment.id }}">{{ localize("reply_action") }}</button>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="replies" id="replies-{{ comment.id }}">
        {% for reply in comment.replies %}
            {{ comment(reply) }}
        {% endfor %}
    </div>
</div>