{# TODO: if there was only one comment, the title would only say "COMMENT", rather than "COMMENTS" #}
<div class="comments-header"><span class="title">{{ localize("comments") }}</span> • {{ count }}</div>

{% if is_user_logged_in %}
    <div>
        <div>
        <textarea class="form-control" id="commentContents" style="overflow:hidden;resize:none" rows="3"
                placeholder="{{ localize('write_comment') }}"></textarea>
        </div>
        <div class="right">
            <button id="post" class="button button-primary" style="margin-bottom:0;">{{ localize('post_action') }}</button>
        </div>
    </div>
{% endif %}
<div id="comment"></div>
{% for comment in comments %}
    {{ comment(comment) }}
{% endfor %}