{% set profiler = db_profiler_info() %}
{% if not user_data_cache %}
{% set user_data_cache = get_user_data_cache() %}
{% endif %}
<dialog class="tab-group debug-dialog" id="debug-dialog">
    <div class="dialog-header">
        {{ version_banner() }}<br><small>{{ profiler_stats() }}</small>
    </div>
    <div class="tabs">
        {# spaceless removes html whitespace that causes unnecessary margins #}
        {% apply spaceless %}
            <a class="tablink" data-tab="tab_db">Database</a>
            <a class="tablink" data-tab="tab_user">User Data Cache</a>
        {% endapply %}
    </div>
    <div class="card card-has-padding">
        <div id="tab_db" class="tabcontent">
            <div>
                <strong>Query Statistics:</strong><br>
                Total queries: {{ profiler.total_queries }}<br>
                Total query time: {{ profiler.total_time }} seconds<br>
                Average time: {{ profiler.average_time }} seconds
            </div>

            <div>
                <strong>Slowest query ({{ profiler.slowest_query.execution_time }}s):</strong><br>
                <pre>{{ profiler.slowest_query.query }}</pre>
                Parameters: 
                {% for param in profiler.slowest_query.params %}
                    <code>{{ param }}</code>{% if not loop.last %},{% endif %}
                {% endfor %}<br>
                Location: {{ profiler.slowest_query.caller_info.file }} (line {{ profiler.slowest_query.caller_info.line }})
            </div>

            <div>
                <strong>Fastest query ({{ profiler.fastest_query.execution_time }}s):</strong><br>
                <pre>{{ profiler.fastest_query.query }}</pre>
                Parameters: 
                {% for param in profiler.fastest_query.params %}
                    <code>{{ param }}</code>{% if not loop.last %},{% endif %}
                {% endfor %}<br>
                Location: {{ profiler.fastest_query.caller_info.file }} (line {{ profiler.fastest_query.caller_info.line }})
            </div>

            <hr>

            <div>
                <strong>All Queries:</strong><br>
                {% for query in profiler.queries %}
                    <div>
                        #{{ loop.index }} ({{ query.time }}s):
                        <pre>{{ query.query }}</pre>
                        Parameters: 
                        {% for param in query.params %}
                            <code>{{ param }}</code>{% if not loop.last %},{% endif %}
                        {% endfor %}<br>
                        Location: {{ query.caller_info.file }} (line {{ query.caller_info.line }}, {{ query.caller_info.function }})
                    </div>
                    {% if not loop.last %}<br>{% endif %}
                {% endfor %}
            </div>
        </div>
        <div id="tab_user" class="tabcontent">
            {% if user_data_cache %}
                <table class="styled">
                    <tr class="table-header">
                        <th>ID</th>
                        <th>Names</th>
                        <th>Stats</th>
                        <th>Color</th>
                    </tr>
                {% for user in user_data_cache %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.name }}<br><small>{{ user.title }}</small></td>
                        <td>
                            <ul>
                                <li>
                                    Powerlevel: {{ user.powerlevel }}
                                </li>
                                <li>
                                    Joined: {{ user.joined | format_date('long', 'medium') }}
                                </li>
                                <li>
                                    Last seen: {{ user.last_seen | format_date('long', 'medium') }}
                                </li>
                                <li>
                                    Following: {{ user.following ? 'Yes' : 'No' }}
                                </li>
                            </ul>
                        </td>
                        <td style="background:{{ user.userlink_color }}"></td>
                    </tr>
                {% endfor %}
                </table>
            {% else %}
                <p>No users have been fetched.</p>
            {% endif %}
        </div>
    </div>
    <br>
    <form method="dialog" class="dialog-footer">
        <a class="button button-destructive" href="/debug">Debug Backend</a>
        <button class="button button-default" id="debug-close-button">OK</button>
    </form>
</dialog>