{% if current_theme == 'hitchhiker' %}
    {% set follow_button_icon_size = [16,12] %}
{% else %}
    {% set follow_button_icon_size = 16 %}
{% endif %}

{% if user.info.following %}
    {% set follow_button_class = 'following' %}
    {% set follow_button_following = '1' %}
{% else %}
    {% set follow_button_following = '0' %}
{% endif %}

<div class="follow-wrapper">
<button
    class="button button-follow {{ follow_button_class }} button-small"
    data-user-id="{{ user.id }}"
    data-following="{{ follow_button_following }}"
>
    <span class="follow-label">{{ icon(fi.button_follow, follow_button_icon_size) }}{{ localize('follow') }}</span>
    <span class="followed-label">{{ icon(fi.button_followed, follow_button_icon_size) }}{{ localize('followed') }}</span>
    <span class="unfollow-label">{{ icon(fi.button_unfollow, follow_button_icon_size) }}{{ localize('unfollow') }}</span>
</button>
{% if show_followers %}
<div class="follow-count">{{ user.followers | format_number }}</div>
{% endif %}
</div>