{% set pages = (levels / lpp)|round(0, 'ceil') %}
{% set window = 7 %}
{% set half = (window // 2) %}

{% set start = current - half %}
{% set end = current + half %}

{% if start < 1 %}
    {% set start = 1 %}
    {% set end = window %}
{% endif %}

{% if end > pages %}
    {% set end = pages %}
    {% set start = pages - window + 1 %}
{% endif %}

{% if start < 1 %}
    {% set start = 1 %}
{% endif %}

{% if pages > 1 %}
<div class="pagination">
    {% if current > 1 %}
        <a class="button button-default" href="/{{ url | format(current - 1) }}">&laquo; Previous</a>
    {% endif %}

    {% for page in start..end %}
        {% if page == current %}
            <span class="button button-default toggled">{{ page }}</span>
        {% else %}
            <a class="button button-default" href="/{{ url | format(page) }}">{{ page }}</a>
        {% endif %}
    {% endfor %}

    {% if current < pages %}
        <a class="button button-default" href="/{{ url | format(current + 1) }}">Next &raquo;</a>
    {% endif %}
</div>
{% endif %}
