<div class="upload-list-item">
    <div class="thumbnail">
        <a href="/watch?v={{ data.id }}">
            <img src="{{ thumbnail(data.id, data.type, data.flags.custom_thumbnail) }}" alt="{{ data.title }}">
        </a>
    </div>
    <div class="content-wrapper">
        <h3 class="title"><a href="/watch?v={{ data.id }}">{{ data.title }}</a></h3>
        <span class="stat">{{ user_link(data.author) }}</span>
        <span class="stat">{{ data.views }} views</span>
    </div>
</div>