{% if upload.published_originally and upload.original_site %}
    {% set time = upload.published_originally | relative_time %}
{% else %}
    {% set time = upload.published | relative_time %}
{% endif %}

<div class="shelf-upload-item">
    <div class="thumbnail">
        {% if upload.type == 0 %}
            <div class="thumbnail-badge-container">
                <div class="thumbnail-badge">
                    {{ convert_time(upload.length) }}
                </div>
            </div>
        {% endif %}
        <a href="/watch?v={{ upload.id }}">
            <img src="{{ thumbnail(upload.id, upload.type, upload.flags.custom_thumbnail) }}" alt="{{ upload.title }}">
        </a>
    </div>
    <div class="content-wrapper">
        <h3 class="title"><a href="/watch?v={{ upload.id }}">{{ upload.title }}</a></h3>
        <span class="stat">{{ user_link(upload.author) }}</span>
        <div class="stats">
            <span class="stat">{{ localize('views', upload.views) }}</span>
            <span class="stat">{{ time }}</span>
        </div>
        {% if upload.type == 2 %}
        <span><div class="badge">Image</div></span>
        {% endif %}
    </div>
</div>